.task {
  width: 100%;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.task:hover {
  transform: translateY(-8px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-name {
  margin-top: 0;
  font-size: 28px;
}

.task-title-input {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 28px;
  font-weight: 600;
  border: none;
  padding: 0;
  outline: none;
}

.task-text-input {
  border: none;
  outline: none;
  padding: 0;
  font-style: italic;
  resize: none;
}

.task-text {
  margin: 0;
  font-style: italic;
}

.task-controls {
  display: flex;
  gap: 10px;
}

.task-control-button {
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  padding: 5px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-task-button {
  background-color: #ff8d84;
}

.delete-task-button:hover {
  background-color: #ff7268;
}

.details-button {
  background-color: #d2d2d2;
}

.details-button:hover {
  background-color: #bbbbbb;
}

.edit-task-button {
  background-color: #3b82f6;
}

.edit-task-button:hover {
  background-color: #2563eb;
}

.save-task-button {
  background-color: #70b77e;
}

.save-task-button:hover {
  background-color: #37b750;
}

.task-title {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.task-title small {
  font-style: italic;
  font-size: 12px;
}
