.group {
  position: relative;
}

.group .form-input {
  background: none;
  background-color: var(--background);
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 0 0;
}

.group .form-input:focus {
  outline: none;
}

.group .form-input:focus ~ .form-input-label,
.group .form-input:not(:placeholder-shown) ~ .form-input-label {
  top: -14px;
  font-size: 14px;
  color: var(--secondary-font-color);
}

.group input[type='password'] {
  letter-spacing: 0.3em;
}

.group .form-input-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.group .form-input-label.shrink {
  top: -14px;
  font-size: 12px;
  color: var(--secondary-font-color);
}
